<section data-ng-controller="HomeController" class="page-home">

  <!-- products -->
  <section data-ng-controller="ProductsShowController" data-ng-init="find()">
    <div class="page-header text-center">
      <h1>Vind het perfecte cadeau in 5 minuten </h1>
      <!-- filter -->

      <select ng-model="filterTag">
        <option value="voor hem">Voor hem</option>
        <option value="voor haar">Voor haar</option>
      </select>
       <div>
         <a ng-click="resetTagFilter()" class="filter-reset">Reset Filter</a>
       </div>
    </div>

    <div class="column four product-list">
      <!-- block -->
      <div class="block product" data-ng-repeat="product in products | filter: { tags : filterTag, name : query}">
        <!-- block img -->
        <div style="background: url('{{product.image}}')" class="block-img" data-ui-sref="products.view({productId: product._id})"></div>
        <!-- block content -->
        <div class="block-content" data-ui-sref="products.view({productId: product._id})">
          <h4 data-ng-bind="product.name"></h4>
          <p>{{product.description | limitTo: 150}}..</p>
        </div>
        <!-- block label -->
        <div class="block-label">
          <span>€{{product.price | split : '.':0}}</span><span>{{product.price | split : '.':1}}</span>
        </div>
        <a href="{{product.url}}" target="_blank">
        <div class="block-link">
          Koop via Bol <i class="fa fa-external-link" aria-hidden="true"></i>
        </div>
        </a>
      </div>
    </div>

     <!-- no products block -->
    <div class="alert alert-warning text-center" data-ng-if="products.$resolved && !products.length">
      No products yet, why don't you <a data-ui-sref="products.create">create one</a>?
    </div>
  </section>




</section>
