<section data-ng-controller="HomeController">

  <!-- products -->
  <section data-ng-controller="ProductsShowController" data-ng-init="find()">
    <div class="page-header">
      <h1>Products</h1>
    </div>

    <div class="column four">
      <!-- block -->
      <div class="block product" data-ng-repeat="product in products" data-ui-sref="products.view({productId: product._id})">
        <!-- block img -->
        <div style="background: url('{{product.image}}')" class="block-img"></div>
        <!-- block content -->
        <div class="block-content">
          <h4 data-ng-bind="product.name"></h4>
          <p data-ng-bind="product.description | limitTo: 150"></p>
        </div>
        <!-- block label -->
        <div class="block-label">
          <small class="list-group-item-text">
            Posted on <span data-ng-bind="product.created | date:'mediumDate'"></span>
          </small>
        </div>
      </div>
    </div>

     <!-- no products block -->
    <div class="alert alert-warning text-center" data-ng-if="products.$resolved && !products.length">
      No products yet, why don't you <a data-ui-sref="products.create">create one</a>?
    </div>
  </section>




</section>
