///////////////////////////////////////////// main settings
//-- text colors
@color-font-primary: #1d1d1d;; // dark
@color-font-secondary: #6E6E6E; // normal
@color-font-tertiary: #C1C1C1; // subtle
//-- brand colors
@color-brand-1: #486CFF; // blue color
//--global
@global-transition: 0.3s ease;
@global-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);



// base
body {
   background: #F7F7F7;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   color: @color-font-secondary;

   ////// font smoothing
   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// animations

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// page
.page-home {
  animation: fadeIn both ease 0.6s;
}

// components

///////////////////////////////////////////// navbar
.navbar {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
  animation: fadeIn both ease 0.4s;
  .container {
    animation: fadeIn both ease 0.6s;
    animation-delay: 0.3s;
  }
  a {
    color: @color-font-secondary;
    text-shadow: transparent!important;
  }
  &-brand {
    color: @color-brand-1!important;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1px;
    &:before {
      content: "";
      background: url('../img/brand/logo.svg');
      background-size: cover;
      height: 35px;
      width: 35px;
      display: block;
      float: left;
      position: relative;
      top: -6px;
      margin-right: 10px;
      left: 0;
    }
  }
}


///////////////////////////////////////////// buttons
.btn {
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 15px 30px!important;
  &-default {
    border: 0!important;
    background: #A2A2A2!important;
    color: #fff!important;
    text-shadow: transparent!important;
  }
  &-primary {
    border: 0!important;
    background: @color-brand-1!important;
    color: #fff!important;
    text-shadow: transparent!important;
  }
  &-sm {
    padding: 13px 28px!important;
    font-size: 16px;
  }
}

////////////?/////////////////////////////// list-group
.list-group {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .10); -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .10);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .10);
  border: 0!important;
  &-item {
    border: 0!important;
    padding: 30px 35px;
  }
}
////////////?/////////////////////////////// input

.form-control {
    font-size: 18px;
    padding: 15px 15px;
    height: 50px;
    border-radius: 2px!important;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .10); -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .10);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .10);
    border: 0!important;
    margin-top: 5px;
}

////////////?/////////////////////////////// page-header
.page-header {
  h1 {
    font-weight: 200;
  }
}

////////////?/////////////////////////////// columns + grid
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // grid system
  &.four {
    .block {
      width: 23.5%;
      padding: 30px;
      margin: 0.5%;
    }
  }
  &.two {
    .block {
      width: 49%;
      padding: 30px;
      margin: 0.5%;
      @media (max-width: 900px) {
        width: 100%;
        margin: 0;
      }
    }
  }
  &.one {
    .block {
      width: 100%;
      padding: 30px;
    }
  }
  // main block styling
  .block {
    .block-label {
      position: absolute;
      dislay: inline-block;
      font-size: 20px;
      font-weight: 200;
      color: @color-font-tertiary;
      right: 0;
      bottom: 0;
      background: #F7F7F7;
      padding: 10px;
      transition: all @global-transition;
      height: 50px;
      span:nth-child(2){
        font-size: 12px;
        top: -5px;
        position: relative;
      }
    }
    .block-link {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
      height: 50px;
      width: 100%;
      border-top: 1px solid #f7f7f7;
      color: @color-font-primary;
      font-size: 12px;
      font-weight: 200;
      opacity: 0;
      transition: all @global-transition;
      i {
        margin-left: 4px;
        font-size: 11px;
      }
    }
    .block-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat!important;
      background-position: 50% 40%!important;
      background-size: 200px!important;
      transition: all @global-transition;
        cursor: pointer;
    }
    .block-content {
      position: relative;
      background: rgba(255, 255, 255, 0.78);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all @global-transition;
        cursor: pointer;
    }
    // hover state
    &:hover {
      .block-label {
        background: @color-brand-1;
        color: #fff;
      }
      .block-content {
        opacity: 1;
      }
      .block-link {
        opacity: 1;
      }
      .block-img {
        background-position: 50% 30%!important;
      }
    }
  }
}
