body {
  background: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #6E6E6E;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-home {
  animation: fadeIn both ease 0.6s;
}
.navbar {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
  animation: fadeIn both ease 0.4s;
}
.navbar .container {
  animation: fadeIn both ease 0.6s;
  animation-delay: 0.3s;
}
.navbar a {
  color: #6E6E6E;
  text-shadow: transparent!important;
}
.navbar-brand {
  color: #486CFF !important;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -1px;
}
.navbar-brand:before {
  content: "";
  background: url('../img/brand/logo.svg');
  background-size: cover;
  height: 35px;
  width: 35px;
  display: block;
  float: left;
  position: relative;
  top: -6px;
  margin-right: 10px;
  left: 0;
}
.btn {
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 15px 30px!important;
}
.btn-default {
  border: 0!important;
  background: #A2A2A2!important;
  color: #fff!important;
  text-shadow: transparent!important;
}
.btn-primary {
  border: 0!important;
  background: #486CFF !important;
  color: #fff!important;
  text-shadow: transparent!important;
}
.btn-sm {
  padding: 13px 28px!important;
  font-size: 16px;
}
.list-group {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 0!important;
}
.list-group-item {
  border: 0!important;
  padding: 30px 35px;
}
.form-control {
  font-size: 18px;
  padding: 15px 15px;
  height: 50px;
  border-radius: 2px!important;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 0!important;
  margin-top: 5px;
}
.page-header h1 {
  font-weight: 200;
}
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.column.four .block {
  width: 23.5%;
  padding: 30px;
  margin: 0.5%;
}
.column.two .block {
  width: 49%;
  padding: 30px;
  margin: 0.5%;
}
@media (max-width: 900px) {
  .column.two .block {
    width: 100%;
    margin: 0;
  }
}
.column.one .block {
  width: 100%;
  padding: 30px;
}
.column .block .block-label {
  position: absolute;
  dislay: inline-block;
  font-size: 20px;
  font-weight: 200;
  color: #C1C1C1;
  right: 0;
  bottom: 0;
  background: #F7F7F7;
  padding: 10px;
  transition: all 0.3s ease;
  height: 50px;
}
.column .block .block-label span:nth-child(2) {
  font-size: 12px;
  top: -5px;
  position: relative;
}
.column .block .block-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  height: 50px;
  width: 100%;
  border-top: 1px solid #f7f7f7;
  color: #1d1d1d;
  font-size: 12px;
  font-weight: 200;
  opacity: 0;
  transition: all 0.3s ease;
}
.column .block .block-link i {
  margin-left: 4px;
  font-size: 11px;
}
.column .block .block-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat !important;
  background-position: 50% 40%!important;
  background-size: 200px!important;
  transition: all 0.3s ease;
  cursor: pointer;
}
.column .block .block-content {
  position: relative;
  background: rgba(255, 255, 255, 0.78);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.column .block:hover .block-label {
  background: #486CFF;
  color: #fff;
}
.column .block:hover .block-content {
  opacity: 1;
}
.column .block:hover .block-link {
  opacity: 1;
}
.column .block:hover .block-img {
  background-position: 50% 30%!important;
}
